html {
	font-size: 62.5;
}
.container {
	width: 70%;
	border: 2px solid deeppink;
	text-align: center;	
	margin: 0 auto;
}

strong, span {
	background: deepskyblue;
	color: aliceblue;
	margin: 0;
	padding: 0.5rem;
	font-size: 1.6rem;

}

h1 {
	color: blueviolet;
}

p {
	color: blue;
}